<!-- Each registered user can be logged in or access the register link -->
<h2 style="color: #0084b1">Login</h2>
<hr>

<form action="/login" method="post" role="form">
    <div class="form-group">
  	    <label for="id">Username:</label>
  	    <br>
  	    <input id="id" class="form-control" name="id" type="text" style="width: 40%"/>
    </div>
    <div class="form-group">
  	    <label for="password">Password:</label>
  	    <br>
  	    <input id="password" class="form-control" name="password" type="password" style="width: 40%"/>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>