<!-- Each post is created and submitted --> 
<h2 style="color: #0084b1">Create Post</h2>
<hr>

<form action="/posts" method="post" role="form">
    <div class="form-group">
  	    <label for="title">Title:</label>
  	    <br>
  	    <input id="title" class="form-control" name="title" type="text" value="<%=h @post.title %>" style="width=90%"/>
    </div>
    <div class="form-group">
  	    <label for="content">Content:</label>
  	    <br>
  	    <textarea id="content" class="form-control" name="content" rows="10"><%= @post.content %></textarea>
    </div>
    <div class="form-group">
        <label for="tags">Tags:</label>
        <br>
        <input id="tags" class="form-control" name="tags" type="text" value="<%= @post.tags %>" style="width=90%"/>
        <p>Separate tags with commas.</p>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>